.display-tweets-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 300px;
  width: 500px;
  border: 3px solid black;
  margin-top: 20px;
  padding: 0;
  background-color: #f4f1ec;
  align-items: center;
}

.display-tweets-container:hover {
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.3);
}

article header {
  display: flex;
  flex-direction: column;
  border-bottom: 5px solid black;
  margin: 0;
  flex-grow: 1.5;
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.user-profile-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.display-tweet-text {
  flex-grow: 2;
}

.user-profile-header div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 150px;
  height: 50px;
  font-size: small;
}

.user-profile-header div img {
  padding-right: 10px;
}

.user-handle {
  font-size: x-large;
}

.display-tweet-text {
  word-wrap: break-word;
}

.display-tweets-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f4f1ec;
  font-size: small;
  align-items: flex-start;
  padding-top: 5px;
  width: 450px;
  height: 50px;
}

.display-tweets-footer time {
  padding-top: 2.5%;
  flex-grow: 3;
}

.display-tweets-footer .tweet-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 15px;
}

.tweet-icons i {
  display: flex;
  width: 25px;
  height: 25px;
  gap: 3px;
}

.tweet-icons i:hover {
  color: gold;
}

.tweet-icons i:nth-child(3):hover {
  color: red;
}

