.new-tweet form {
  display: flex;
  width: 500px;
  flex-direction: column;
  gap: 5px;
  justify-content: space-between;
}

.new-tweet form button {
  font-family: 'Bungee', cursive;
  background-color: #4056a1;
  color: white;
}

.new-tweet form label[for="tweet-text"] {
  font-weight: bold;
  border-bottom: 3px solid black;
}

footer {
  font-family: 'Bungee', cursive;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.counter {
  color: #4056a1;
}